{% extends "BASE.html" %}
<!-- no-prettier -->
{% load static %}

<!-- no-prettier -->
{% block head %}
<script src="{% static 'apps/excel-clone.bundle.js' %}"></script>
{% endblock head %}

<!-- no-prettier -->
{% block navigation %}
<!-- no-prettier -->
{% include "header.html" %}
<!-- no-prettier -->
{% endblock navigation %}

<!-- no-prettier -->
{% block content %}
<div id="excel-clone"></div>

<!-- <div id="context-menu"></div> -->
{% endblock content %}

<!-- no-prettier -->
{% block footer %} {% endblock footer %}
