{% extends "BASE.html" %}
{% load static %}

{% block head %}
  <script src="{% static 'apps/excel-clone.bundle.js' %}"></script>
{% endblock head %}

{% block navigation %}
  {% include "header.html" %}
{% endblock navigation %}

{% block content %}
  <div id="excel-clone"></div>
{% endblock content %}

{% block footer %} {% endblock footer %}

{% block js %}
  {% if js %}
    <script type="text/javascript">
      '{% if js.table %}'
      window.table = JSON.parse('{{ js.table|safe|escapejs }}');
      '{% endif %}'
    </script>
  {% endif %}
{% endblock %}