{% extends "BASE.html" %}
{% load static %}

{% block head %}
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"
  ></script>

  <script type="text/javascript" src={% static 'main.bundle.js' %}></script>  
{% endblock head %}

{% block navigation %}
  {% include "header.html" %}
{% endblock navigation %}

{% block content %}
  <div id="all-apps"></div>
{% endblock content %}

{% block footer %} {% endblock footer %}

