{% extends "BASE.html" %}
<!-- no-prettier -->
{% load static %}

<!-- no-prettier -->
{% block head %}
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"
></script>

<script type="text/javascript" src={% static 'main.bundle.js' %}></script>  
{% endblock head %}

<!-- no-prettier -->
{% block navigation %}
  {% include "header.html" %}
{% endblock navigation %}

<!--no-prettier-->
{% block content %}
<div id="all-apps"></div>
{% endblock content %}

<!-- np-prettier -->
{% block footer %} {% endblock footer %}

