{% extends "BASE.html" %}
{% load static %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href={% static '/css/fontawesome-free-5.15.3-web/css/all.css' %}>

  <script src={% static '/apps/accounts.bundle.js'%}></script>
  <script src={% static '/apps/accounts/dashboard.bundle.js'%}></script>
{% endblock head %}

{% block navigation %}
  {% include "header.html" %}
{% endblock navigation %}

{% block content %}
  <div id="page-content">
    <!-- Sidebar -->
    <nav id="sidebar" class="bg-secondary" >
      <div class="sidebar-header">
        <div class="row justify-content-between align-items-center">
          <h3 class="">{% trans "My Account" %}</h3>
          <div class="">
            <button type="button" id="sidebarCollapseNav" tabindex="-1" class="btn btn-light py-0 px-1">
              <span>
              <i class="fas fa-chevron-left"></i>
              </span>
            </button>
          </div>
        </div>
      </div>

      <div id="vue-side-navigation"></div>
    </nav>

    <!-- Page Content -->
    <div id="content">
      <nav class="navbar navbar-light bg-light justify-content-between">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary py-0 px-1" tabindex="-1">
          <span>
            <i id="sidebar-icon" class="fas fa-chevron-right"></i>
          </span>
      </button>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder='{% trans "Search" %}' aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mx-auto" type="submit">{% trans "Search" %}</button>
      </form>
      </nav>

      <div class="container">
        <!-- User name -->
        {% if form_user %}
        <div id="change-user" class="row section">
          <div class="col-12">
            <h2>{% trans "Change Username" %}</h2>
          </div>
          <div class="col-12">
            <form class="mt-2" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form_user.username.id_for_label }}">{{ form_user.username.label }}</label>
                {{ form_user.username }}
                {{ form_user.username.errors }}
              </div>
              <div class="form-group">
                <label for="{{ form_user.password.id_for_label }}">{{ form_user.first_name.label }}</label>
                {{ form_user.first_name }}
                {{ form_user.first_name.errors }}
              </div>
              <div class="form-group">
                <label for="{{ form_user.password.id_for_label }}">{{ form_user.last_name.label }}</label>
                {{ form_user.last_name }}
                {{ form_user.last_name.errors }}
              </div>
              <div class="form-group">
                <label for="{{ form_user.password.id_for_label }}">{{ form_user.email.label }}</label>
                {{ form_user.email }}
                {{ form_user.email.errors }}
              </div>
              <div class="col-12 text-center">
                <input class="btn btn-info" type="submit" name="changeUser" value='{% trans "Save" %}'/>
              </div>
            </form>
          </div>
        </div>
        {% endif %}
        <!--User profile-->
        {% if form_profile %}
        <div id="change-profile" class="row section">
          <div class="col-12">
            <h2>{% trans "Change picture" %}</h2>
          </div>
          <div class="col-12">
            <form class="mt-2" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form_profile.bio.id_for_label}}">{% trans form_profile.bio.label %}</label>
                {{ form_profile.bio }}
                {{ form_profile.bio.errors }}
              </div>
              <div class="form-group">
                <label class="custom-file-label-X" for="{{ form_profile.picture.id_for_label}}">{% trans form_profile.picture.label %}</label>
                <div class="custom-file">
                  {{form_profile.picture}}
                  <label class="custom-file-label" for="{{ form_profile.picture.id_for_label}}">{{form_profile.instance.picture}}</label>
                  <script>
                    let pictureFileInputId = '{{form_profile.picture.id_for_label}}'
                  </script>
                </div>
                {{form_profile.picture.errors}}
              </div>
              <div class="form-group">
                <label for="{{ form_profile.language.id_for_label}}">{% trans form_profile.language.label %}</label>
                {{form_profile.language}}
                {{form_profile.language.errors}}
              </div>
              <div class="col-12 text-center my-2">
                <input class="btn btn-info" name="changeProfile" type="submit" value='{% trans "Save" %}' />
              </div>
            </form>
          </div>
        </div>
        {% endif %}
        <!--User Password-->
        {% if form_password %}
        <div id="change-password" class="row section">
          <div class="col-12">
            <h2>{% trans "Change password" %}</h2>
          </div>
          <div class="col-12">
            <form class="mt-5" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label
                for="{{ form_password.old_password.id_for_label }}"
                >{{ form_password.old_password.label }}</label
                >
                  {{ form_password.old_password }}
                  <!--no-prettier-->
                  {{ form_password.old_password.errors }}
              </div>
              <div class="form-group">
                <label
                for="{{ form_password.new_password1.id_for_label_tag }}"
                >
                  {{ form_password.new_password1.label_tag }}
                </label>
                  {{ form_password.new_password1 }}
                  <!--no-prettier-->
                  {{ form_password.new_password1.errors }}
              </div>
              <div class="form-group">
                <label
                for="{{ form_password.new_password2.label_tag.value }}"
                >{{ form_password.new_password2.label_tag }}</label
                >
                {{ form_password.new_password2 }}
                <!--no-prettier-->
                {{ form_password.new_password2.errors }}
              </div>
              <div class="col-12 text-center">
                <input class="btn btn-info" type="submit" name="changePassword" value='{% trans "Save" %}'/>
              </div>
            </form>
          </div>
          
        {% endif %}
        </div>
      </div>
      {% if notifier != None%}
        <span
          id="notifier-data"
          data-notifier-Name="{% trans notifier.notifierName %}"
          data-notifier-message="{% trans notifier.notifierMessage %}"
          data-result="{% trans notifier.result }"
        ></span>
      {% endif %} 
    </div>
  </div>
  <script id="vue-side-navigation-js">
    let navLinks = [
      {
        title: '{% trans "General" %}',
        id: "general",
      },
      {
        title: '{% trans "User" %}',
        id: "change-user",
      },
      {
        title: '{% trans "Change Profile" %}',
        id: "change-profile",
      },
      {
        title: '{% trans "Change Password" %}',
        id: "change-password",
      },
    ];
  </script>
{% endblock content %}

{% block footer %} {% endblock footer %}
