{% extends "BASE.html" %}
{% load static %}

{% block head_index_files %} {% endblock head_index_files %}

{% block head %}
  <script src={% static '/main.bundle.js' %}></script>

  <script src={% static 'js/pure-js-component.js' %}></script>
  <script src={% static 'apps/various/pure-js-component-main.bundle.js' %}></script>
{% endblock head %}

{% block navigation %} 
  {% include "header.html" %}
{% endblock navigation %}

{% block content %}
  <div id="pure-js-component" class="show-hide-module">
    <h3>Fruits</h3>
    <ul class="collapse-list">
      <li>Tomato 🍅</li>
      <li>Grapes 🍇</li>
      <li>Watermelon 🍉</li>
      <li>Mango 🥭</li>
      <li>Peach 🍑</li>
    </ul>
    <a class="collapse-link"> show more </a>
  </div>

  <hr class="rounded mx-3" />

  <div class="collapsible-list closed" id="list1">
    <h3>Fruits</h3>
    <ul class="collapse-list">
      <li>Tomato🍅</li>
      <li>Grapes 🍇</li>
      <li>Watermelon 🍉</li>
      <li>Mango 🥭</li>
      <li>Peach 🍑</li>
    </ul>
    <a class="show-more-link"> show more </a>
  </div>

  <hr class="rounded mx-3" />

  <div class="collapsible-list closed" id="list2">
    <h3>Vegetables</h3>
    <ul class="collapse-list">
      <li>Broccoli 🥦</li>
      <li>Corn 🌽</li>
      <li>Carrot 🥕</li>
      <li>Eggplant 🍆</li>
    </ul>
    <a class="show-more-link"> show more </a>
  </div>
{% endblock content %}