{% extends "BASE.html" %}
{% load static %}
{% load i18n %}

{% block head %} {% endblock head %}

{% block navigation %}
  {% include "header.html" %}
{% endblock navigation %}

{% block content %}
  <div class="container mt-5 mx-4">
    <div class="row">
      <div class="col text-center">
        <h2>{% trans "Change password" %}</h2>
        <form class="mt-5" method="post">
          {% csrf_token %}
          <div class="form-group row">
            <label
              class="col-md-4 col-12 text-left"
              for="{{ form.old_password.id_for_label }}"
              >{{ form.old_password.label }}</label
            >
            <div class="col-md-8 col-12">
              {{ form.old_password }}
              <!--no-prettier-->
              {{ form.old_password.errors }}
            </div>
          </div>
          <div class="form-group row">
            <label
              class="col-md-4 col-12 text-left"
              for="{{ form.new_password1.id_for_label_tag }}"
            >
              {{ form.new_password1.label_tag }}
            </label>
            <div class="col-md-8 col-12">
              {{ form.new_password1 }}
              <!--no-prettier-->
              {{ form.new_password1.errors }}
            </div>
          </div>
          <div class="form-group row">
            <label
              class="col-md-4 col-12 text-left"
              for="{{ form.new_password2.label_tag.value }}"
              >{{ form.new_password2.label_tag }}</label
            >
            <div class="col-md-8 col-12">
              {{ form.new_password2 }}
              <!--no-prettier-->
              {{ form.new_password2.errors }}
            </div>
          </div>
          <div class="offset-md-4 col-md-8">
            <input class="btn btn-info" type="submit" value="Change" />
          </div>
        </form>
        <div class="offset-md-4 col-md-8">
          <a class="d-inline-block mt-3" href="{% url 'dashboard' %}"
          >{% trans "Back to dashboard" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %} {% endblock footer %}