{% extends "BASE.html" %}
<!-- no-prettier -->
{% load static %}

<!-- no-prettier -->
{% block head %} {% endblock head %}

<!-- no-prettier -->
{% block navigation %}
<!-- no-prettier -->
{% include "header.html" %}
<!-- no-prettier -->
{% endblock navigation %}

<!-- no-prettier -->
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <h2>Password Changed</h2>
      <a href="{% url 'dashboard' %}">Back to dashboard</a>
    </div>
  </div>
</div>
{% endblock content %}

<!-- no-prettier -->
{% block footer %} {% endblock footer %}
