{% extends "BASE.html" %}
<!-- no-prettier -->
{% load static %}

<!-- no-prettier -->
{% block head %} {% endblock head %}

<!-- no-prettier -->
{% block navigation %}
<!-- no-prettier -->
{% include "header.html" %}
<!-- no-prettier -->
{% endblock navigation %}

<!-- no-prettier -->
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h2>Password changed successful</h2>
    </div>
  </div>
</div>
{% endblock content %}

<!-- no-prettier -->
{% block footer %} {% endblock footer %}
