{% extends "BASE.html" %}
{% load static %}
{% load i18n %}

{% block head %} {% endblock head %}

{% block navigation %}
  {% include "header.html" %}
{% endblock navigation %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col text-center">
        <h2>{% trans "Password Changed" %}</h2>
        <a href="{% url 'dashboard' %}">{% trans "Back to dashboard" %}</a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %} {% endblock footer %}
