{% load static %}

<nav class="navbar navbar-expand-lg justify-content-between navbar-light bg-primary">
  <a href="{% url 'index' %}" class="navbar-brand">PLAYAREA</a>
  {% if user.is_authenticated %}
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <div id="header"></div>

    <div class="d-none d-lg-block mt-2 mt-lg-0 text-right dropdown">
      <a 
        href="#" 
        type="button"
        id="myAccountDropdownMenuButton" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false"
      >
        <img 
          src="{{ user.profile.picture.url }}" 
          alt="My Account" 
          class="profile-image"  
        >
      </a>
      <div 
        class="dropdown-menu dropdown-menu-right bg-primary"
        aria-labelledby="myAccountDropdownMenuButton"
      >
        <a class="dropdown-item text-white" href={% url 'dashboard' %}>My Profile</a>
        <a class="dropdown-item text-white" href={% url 'logout' %}>Logout</a>
      </div>
    </div>
  {% else %}
    <div class="text-right">
      <a href={% url 'login' %} class="btn btn-warning" type="button">
        Login
      </a>
    </div>
  {% endif %}
  </div>
</nav>

{% if js %}
  <script>
  '{% if user.is_authenticated and js.apps %}'
  window.apps = JSON.parse('{{ js.apps|safe|escapejs }}');
  '{% endif %}'
  </script>
{% endif %}
